@model PE.HMIWWW.ViewModel.Module.Lite.Material.VM_RawMaterialOverview

<div class="row h-100">
  <div class="col">
    @(Html.Kendo().TabStrip()
        .Name("InspectionBody")
        .Animation(false)
        .HtmlAttributes(new { style = "width: 100%;" })
        .Scrollable(false)
        .Items(async tabstrip =>
        {
          tabstrip.Add().Text(VM_Resources.NAME_Quality)
          .Selected(true).LoadContentFrom("RawMaterialQualityView", "BundleInspectionStation", new { rawMaterialId = Model.RawMaterialId });
          tabstrip.Add().Text(VM_Resources.NAME_MaterialDetails)
          .Selected(false).Content((await @Html.PartialAsync("~/Views/Module/PE.Lite/RawMaterial/_RawMaterialDetails.cshtml", Model)).ToHtmlString());
          tabstrip.Add().Text(VM_Resources.NAME_L3MaterialAssignment)
          .Selected(Model.AfterL3Assign).LoadContentFrom("L3MaterialAssignment", "RawMaterial", new { rawMaterialId = Model.RawMaterialId });
          tabstrip.Add().Text(VM_Resources.NAME_Measurements)
          .Selected(false).Content((await @Html.PartialAsync("~/Views/Module/PE.Lite/RawMaterial/_RawMaterialMeasurmentsList.cshtml", Model.RawMaterialId)).ToHtmlString());
          tabstrip.Add().Text(VM_Resources.NAME_MaterialHistory)
          .Selected(false).Content((await @Html.PartialAsync("~/Views/Module/PE.Lite/RawMaterial/_RawMaterialHistoryList.cshtml", Model.RawMaterialId)).ToHtmlString());
        })
        )
  </div>
</div>
