@{
    ViewBag.Title = VM_Resources.PAGE_TITLE_QualityExpert_Index;
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<div class="container-fluid p-3">
  <div class="row">
    <div class="col-4 grid-filter">
      <partial name="~/Views/Module/PE.Lite/QualityExpert/_MaterialSearchGrid.cshtml"/>
    </div>
    <div class="col-8 element-details" id="MaterialDetails">
      <div class="row justify-content-center plug">
        <div class="col-6 align-self-center">
          <img src="~/css/Shared/plug.png" />
          <p class="mt-5 plug-info">@VM_Resources.INFO_SelectPlugInfo</p>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="~/bundles/css/Module/QualityExpert.css" />
<script src="~/bundles/js/Module/QualityExpert.js" />
