@model PE.HMIWWW.ViewModel.Module.Lite.Maintenance.VM_Device

   

    <div class="col-12 p-0 pt-3">
        <h8>@Html.Label(VM_Resources.NAME_Incidents)</h8>
        <div class="col-8 p-0">
            <div class="container-fluid">
                @(Html.Kendo().Grid<PE.HMIWWW.ViewModel.Module.Lite.Maintenance.VM_DeviceIncident>()
                    .Name("IncidentGridInventory")
                    .NoRecords(VM_Resources.GLOB_GRID_NO_DATA)
                    .Sortable()
                    .Filterable()
                    .Scrollable()
                    .Pageable(p => p
                    .Messages(m => m.Display(VM_Resources.GLOB_pagination)))
                    .HtmlAttributes(new { style = "height: 300px; width:1330px" })
                    .Columns(c =>
                    {
                        c.Bound(x => x.IncidentId).Visible(false);
                        c.Bound(x => x.ComponentName);
                        c.ForeignKey(p => p.FKIncidentTypeId, (SelectList)ViewBag.IncidentTypesList);
                        c.ForeignKey(p => p.EnumSeverity, (SelectList)ViewBag.SeverityStatusesList);
                        c.ForeignKey(p => p.IsPlanned, (SelectList)ViewBag.NoYes);
                        c.Bound(x => x.StartTime).Format(VM_Resources.GLOB_LongDateTime_FORMAT);
                        c.Bound(x => x.EndTime).Format(VM_Resources.GLOB_LongDateTime_FORMAT);
                        c.Bound(x => x.IncidentDescription);
                        c.Bound(p => p.IncidentId).Sortable(false).Groupable(false).Filterable(false).Title("").Width(70)
                                     .ClientTemplate(@Html.ImageButton("details", "OpenIncidentDetails(#:IncidentId#)").ToString() + @Html.ImageButton("edit", "ModifyIncidentDetails(#:IncidentId#)").ToString());

                    })
                    .DataSource(d => d
                        .Ajax()
                        .ServerOperation(false)
                        .PageSize(24)
                        .Sort(x => x.Add("EndTime").Descending())
                        .Read(r => r.Action("GetAllIncidentsForDevice", "Maintenance", new { deviceId = Model.DeviceId }))
                        ))
            </div>
        </div>
    </div>

<style>
    .yieldChart {
        padding-left: 40px;
        padding-right: 40px;
    }

    .completionChart {
        padding-left: 40px;
        padding-right: 40px;
    }
    .delays-datepicker {
        background-image: none !important;
        color: #006487;
    }
    .k-picker-wrap > .k-select {
        background-color: #fff;
    }   
</style>
