@model PE.HMIWWW.ViewModel.Module.Lite.Maintenance.VM_Device


            <div class="row justify-content-center plug">
                <div class="col-6 align-self-center">
                    <img src="~/Content/Shared/plug.png" />
                    <p class="mt-5 plug-info">@VM_Resources.INFO_SelectPlugInfo</p>
                </div>
            </div>
      

