@model long

<div style="width: 1300px;">
  <div class="demo-section k-content wide tempChartContainer">
    <div id="temperaturesChart" style="height: 600px;"></div>
  </div>
  <div class="summaryContainer">
  </div>
</div>

<script>
  @{ var culture = System.Globalization.CultureInfo.CurrentCulture.ToString(); }
  $(document).ready(() => {
    _RawMaterial_Temp.initElements(@Model);
    @*_RawMaterial_Temp.initTempUnit(@Html.Raw(Json.Encode(@VM_Resources.UNIT_Temperature)));*@
    _RawMaterial_Temp.initTempUnit(@Html.Raw(Json.Serialize(@VM_Resources.UNIT_Temperature))); //TO CHECK
    _RawMaterial_Temp.renderChart(am4lang_@culture.Replace("-", "_"));
    //_RawMaterial_Temp.prepareTempStructureData();
    });
</script>

