<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="..\packages" />
  </config>
  <!-- `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Telerik" value="https://nuget.telerik.com/nuget" />
    <add key="SMF-4" value="https://pkgs.dev.azure.com/primetalspl/_packaging/SMF-4/nuget/v3/index.json" />
    <add key="PE-Standard" value="https://pkgs.dev.azure.com/primetalspl/_packaging/PE-Standard/nuget/v3/index.json" />
    <add key="nuget.package" value="https://nuget.telerik.com/v3/index.json" />
    <add key="Package source" value="D:\L2_PROJECTS\Telerik_Software" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="Package source">
  	<package pattern="Telerik.*" />
    </packageSource>
    <packageSource key="SMF-4">
  	<package pattern="SMF.*" />
  	<package pattern="Watchdog" />
    </packageSource>
    <packageSource key="PE-Standard">
  	<package pattern="PE.*" />
    </packageSource>
    <packageSource key="nuget.org">
  	<package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
