@model PE.HMIWWW.ViewModel.Module.Lite.Material.VM_MaterialOverview
@{
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

@section module_menu
{
    @Html.ImageButton("editworkorder", "EditWorkOrder()")
}

<div class="container-fluid p-3">
    <div class="row">
        <div class="col-3 grid-filter">
            @await Html.PartialAsync("~/Views/Module/PE.Lite/Material/_MaterialSearchGrid.cshtml", Model)
        </div>
        <div class="col-9 element-details" id="MaterialDetails">
            <div class="row justify-content-center plug">
                <div class="col-6 align-self-center">
                    <img src="~/css/Shared/plug.png" />
                    <p class="mt-5 plug-info">@VM_Resources.INFO_SelectPlugInfo</p>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/bundles/css/Module/Material.css" />
<script src="~/bundles/js/Module/Material.js"></script>