@(Html.Kendo().Grid<PE.HMIWWW.ViewModel.Module.Lite.Material.VM_RawMaterialOverview>()
    .Name("ChargingTable")
    .HtmlAttributes(new { style = @String.Format(" height:{0}px;", 150) })
    .NoRecords(x => x.Template(VM_Resources.GLOB_GRID_NO_DATA))
    .Scrollable()
    //.Pageable(p => p
    //          .Messages(m => m.Display(VM_Resources.GLOB_pagination)))
    .Columns(c =>
    {

        c.Bound(x => x.OrderSeq).Width(100);
        c.Bound(x => x.WorkOrderName).ClientTemplate("#if(WorkOrderId){ # <span class='link' onclick='_WorkOrder.GoToWorkOrder(#= WorkOrderId #)'>#= WorkOrderName #</span> #}#");
        c.Bound(x => x.SteelgradeName).ClientTemplate("#if(SteelgradeId){ # <span class='link' onclick='_Steelgrade.GoToSteelgrade(#= SteelgradeId #)'>#= SteelgradeName #</span> #}#");
        c.Bound(x => x.HeatName).ClientTemplate("#if(HeatId){ # <span class='link' onclick='_Heat.GoToHeat(#= HeatId #)'>#= HeatName #</span> #}#");
        c.Bound(x => x.RawMaterialName).ClientTemplate("#if(RawMaterialId){ # <span class='link' onclick='_RawMaterial.GoToRawMaterial(#= RawMaterialId #)'>#= RawMaterialName #</span> #}#");
        
    })
    .DataSource(ds => ds
        .Ajax()
        .ServerOperation(true)
        .PageSize(20)
        .Events(e => e.Error("TelerikErrorHandler")))

)
