@model PE.HMIWWW.ViewModel.Module.Lite.WorkOrder.VM_WorkOrderSummary

<div class="row h-100">
    <div class="col">
        @await Html.PartialAsync("~/Views/Module/PE.Lite/Schedule/_UnassignedWorkOrders.cshtml", Model)
    </div>
</div>