<?xml version="1.0" encoding="utf-8" ?>
<!--
  Trace - Very detailed log messages, potentially of a high frequency and volume
  Debug -Less detailed and/or less frequent debugging messages
  Info - Informational messages
  Warn - Warnings which don't appear to the user of the application
  Error - Error messages
  Fatal - Fatal error messages. After a fatal error, the application usually terminates.
  -->
<appSettings>
  <add key="TestSimulation" value="True" />
    <add key="SignalRHmiAddress" value="http://localhost/hmihub" />
 
</appSettings>