<ModulesSection>
  <Modules>
    <Module name="PE.ADP.Adapter" dev="false" active="true" license="Base" />
    <Module name="PE.DBA.DataBaseAdapter" dev="false" active="true" license="Base" />
    <Module name="PE.EVT.Events" dev="false" active="true" license="Base" />
    <Module name="PE.HMI" dev="false" active="true" license="Base" />
    <Module name="PE.L1A.L1Adapter" dev="false" active="true" license="Base" />
    <Module name="PE.MDA.ModuleA" dev="false" active="true" license="Base" />
    <Module name="PE.MDB.ModuleB" dev="false" active="true" license="Base" />
    <Module name="PE.MNT.Maintenance" dev="false" active="true" license="MNT" />
    <Module name="PE.MVH.MVHistory" dev="false" active="true" license="Base" />
    <Module name="PE.PPL.ProdPlaning" dev="false" active="true" license="Base" />
    <Module name="PE.PRF.Performance" dev="false" active="true" license="Base" />
    <Module name="PE.PRM.ProdManager" dev="false" active="true" license="Base" />
    <Module name="PE.QEX.QualityExpert" dev="false" active="true" license="QEX" />
    <Module name="PE.QTY.Quality" dev="false" active="true" license="Base" />
    <Module name="PE.RLS.RollShop" dev="false" active="true" license="RLS" />
    <Module name="PE.SIM.Simulation" dev="false" active="true" license="Base" />
    <Module name="PE.STP.Setup" dev="false" active="true" license="STP" />
    <Module name="PE.TCP.TcpProxy" dev="false" active="true" license="Base" />
    <Module name="PE.TRK.Tracking" dev="false" active="true" license="Base" />
    <Module name="PE.WBF.WalkingBeamFurnance" dev="false" active="true" license="Base" />
    <Module name="PE.YRD.Yards" dev="false" active="true" license="YRD" />
    <Module name="PE.ZPC.ZebraPrinterConnector" dev="false" active="true" license="Base" />
  </Modules>
  <Licenses>
    <License key="5000010" name="Base" description="Process Expert Base" type="UserLimit" />
    <License key="5000011" name="MNT" description="Process Expert Maintenance Extension" type="Exclusive" />
    <License key="5000012" name="RLS" description="Process Expert RollShop Extension" type="Exclusive" />
    <License key="5000013" name="QEX" description="Process Expert Quality Expert Extension" type="Exclusive" />
    <License key="5000014" name="STP" description="Process Expert Pass Schedule Extension" type="Exclusive" />
    <License key="5000015" name="YRD" description="Process Expert Yards Extension" type="Exclusive" />
    <License key="5000016" name="ANS" description="Process Expert Analysis Extension" type="Exclusive" />
  </Licenses>
  <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
    <SignedInfo>
      <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
      <SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" />
      <Reference URI="">
        <Transforms>
          <Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />
        </Transforms>
        <DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256" />
        <DigestValue>KP29ttTpo2AhAZmHMc0sDFwlTE0x4g1i/q+DC4yj9VU=</DigestValue>
      </Reference>
    </SignedInfo>
    <SignatureValue>H/oYeVZPpnTb76MJURYh7in55noIk3GKDfVeB0yZ+4Vo4WF+e7V/oTfcIaFtF58VTSWY4umJmUNJKWn5evy4VueGaADMuzl0CaRLLlkdt2+CKW85fMErMs+kPGWxnubUDEpRvX8WDsU4lbNmWWzi3XFjrQsCWZjUosKmr7Po66U=</SignatureValue>
  </Signature>
</ModulesSection>