<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ProcessesSection" type="SMF.Watchdog.Configuration.ProcessesSection, Watchdog" />
  </configSections>

	<connectionStrings configSource="DB.config" />
	<ProcessesSection configSource="wdogModules.config" />
</configuration>