@{
    ViewBag.Title = VM_Resources.PAGE_TITLE_GrooveTemplates_Index;
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}

<div class="row h-75">
        @await Html.PartialAsync("~/Views/Module/PE.Lite/Setup/_SetupGrid.cshtml")
</div>