@model PE.HMIWWW.ViewModel.Module.Lite.Defect.VM_DefectGroupsCatalogue
<style>
    .line {
        margin: 0 auto;
        width: 95%;
        height: 1px;
        background-color: rgba(0, 100, 135, 0.7);
    }
</style>

<div class="col-4 p-0">
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-5 text-right">
                @Html.LabelFor(x => x.DefectGroupCode)
            </div>
            <div class="col-3 text-left">
                @Html.DisplayFor(m => m.DefectGroupCode)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 text-right">
                @Html.LabelFor(x => x.DefectGroupName)
            </div>
            <div class="col-3 text-left">
                @Html.DisplayFor(m => m.DefectGroupName)
            </div>
        </div>
    </div>
</div>