@model PE.HMIWWW.ViewModel.Module.Lite.Maintenance.VM_ComponentGroup

<div class="row h-100">
    <div class="col">
        @(Html.Kendo().TabStrip()
              .Name("ComponentGroupBody_" + Guid.NewGuid().ToString())
              .Animation(false)
              .Scrollable(false)
              .Items(tabstrip =>
              {
                  tabstrip.Add().Text(VM_Resources.NAME_Details)
                    .Selected(true).Content(@Html.Partial("~/Views/Module/PE.Lite/ComponentGroup/_ComponentGroupDetails.cshtml", Model).ToHtmlString()).ContentHtmlAttributes(new { @class = "partialHeight" });
              })
        .Events(e =>
        {
            e.Select("saveTabStripState");
        })
		)
    </div>
</div>
