@model long

<div class="text-center">
    <img onerror="if (this.src != '/css/Shared/document_error.png') this.src = '/css/Shared/document_error.png';" height="600" width="400" id="labelPicture"/>
</div>
