<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ModulesSection" type="SMF.Startup.Configuration.ModuleSection, SMF.Startup" />
    <!--<section name="ListenerSection" type="PE.BaseModels.ConcreteModels.TCP.Configuration.Listener.ListenerSection, PE.BaseModels" />
    <section name="SenderSection" type="PE.BaseModels.ConcreteModels.TCP.Configuration.Sender.SenderSection, PE.BaseModels" />-->
    <section name="ListenerSection" type="PE.TCP.Base.Models.Configuration.Listener.ListenerSection, PE.TCP.Base" />
    <section name="SenderSection" type="PE.TCP.Base.Models.Configuration.Sender.SenderSection, PE.TCP.Base" />
  </configSections>
  <ListenerSection>
    <Listeners>
      <Listener ip="127.0.0.1" port="200" telegramIdLen="2" telegramIdOffset="0" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22">
        <Telegrams>
          <add telegramId="2000" telegramLength="27" descr="Test telegram" assembly="PE.Models" telegramType="PE.Models.DataContracts.External.TCP.Telegrams.DCTCPChargingBedTelegramExt" />
          <!--<add telegramId="1001" telegramLength="27" descr="Test telegram" assembly="PE.Models" telegramType="PE.Models.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationTelegramExt" />-->
        </Telegrams>
      </Listener>
      <!--<Listener ip="127.0.0.1" port="300" telegramIdLen="2" telegramIdOffset="0" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22">
        <Telegrams>
          <add telegramId="1002" telegramLength="27" descr="Test telegram" assembly="PE.Models" telegramType="PE.Models.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationTelegramExt" />
          <add telegramId="1003" telegramLength="27" descr="Test telegram" assembly="PE.Models" telegramType="PE.Models.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationTelegramExt" />
        </Telegrams>
      </Listener>-->
    </Listeners>
  </ListenerSection>
  <SenderSection>
    <Senders>
      <Sender ip="127.0.0.1" port="500" telegramIdLen="2" telegramIdOffset="0" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22">
        <Telegrams>
          <add telegramId="2000" telegramLength="27" descr="Test telegram" assembly="PE.BaseModels" telegramType="PE.BaseModels.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationASCIITelegramExt" hasAck="true" isASCIIMessage="true" ackTelegramType="PE.BaseModels.DataContracts.External.TCP.Base.ASCIIBaseTelegram" />
          <add telegramId="2001" telegramLength="27" descr="Test telegram" assembly="PE.BaseModels" telegramType="PE.BaseModels.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationTelegramExt" hasAck="true" isASCIIMessage="false" ackTelegramType="PE.BaseModels.DataContracts.External.TCP.Acknowledges.DCTCPTestCommunicationTelegramAckExt" ackLength="22" />
        </Telegrams>
      </Sender>
      <Sender ip="127.0.0.1" port="600" telegramIdLen="2" telegramIdOffset="0" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22">
        <Telegrams>
          <add telegramId="2002" telegramLength="27" descr="Test telegram" assembly="PE.BaseModels" telegramType="PE.BaseModels.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationASCIITelegramExt" hasAck="true" isASCIIMessage="true" ackTelegramType="PE.BaseModels.DataContracts.External.TCP.Base.ASCIIBaseTelegram" />
          <add telegramId="2003" telegramLength="27" descr="Test telegram" assembly="PE.BaseModels" telegramType="PE.BaseModels.DataContracts.External.TCP.Telegrams.DCTCPTestCommunicationTelegramExt" hasAck="true" isASCIIMessage="false" ackTelegramType="PE.BaseModels.DataContracts.External.TCP.Acknowledges.DCTCPTestCommunicationTelegramAckExt" ackLength="27" />
        </Telegrams>
      </Sender>
    </Senders>
  </SenderSection>
  <connectionStrings configSource="DB.config" />
  <ModulesSection configSource="modules.config" />
  <appSettings file="Appsettings.config" />
</configuration>
