<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ModulesSection" type="SMF.Startup.Configuration.ModuleSection, SMF.Startup" />
  </configSections>
  <connectionStrings configSource="DB.config" />
  <ModulesSection configSource="modules.config" />
  <appSettings file="Appsettings.config" />
</configuration>