<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="ListenerSection" type="PE.TcpProxy.ListenerSection, TcpProxy"/>
		<section name="SenderSection" type="PE.TcpProxy.SenderSection, TcpProxy"/>
	</configSections>
	<ListenerSection>
		<Listeners>
			<!--<add telegramid="5001" telLength="22" socket="21001" descr="Description" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="2"/>-->
		</Listeners>
	</ListenerSection>
	<SenderSection>
		<Senders>			
      <add telegramid="100000" customerTelId="5000" telLength="345" socket="95" ip="127.0.0.1" descr="EagleCalibrator" alive="0" alivecycle="5000" aliveId="-128" aliveOffset="0" aliveLen="2"/>
      <add telegramid="100001" customerTelId="5000" telLength="345" socket="95" ip="127.0.0.1" descr="EagleStelmor" alive="0" alivecycle="5000" aliveId="-128" aliveOffset="0" aliveLen="2"/>
      <add telegramid="100002" customerTelId="5000" telLength="325" socket="21111" ip="127.0.0.1" descr="PantherTelegram" alive="0" alivecycle="5000" aliveId="-128" aliveOffset="0" aliveLen="2"/>
		</Senders>
	</SenderSection>
	<startup>                              
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings configSource="DB.config" />
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
