<div id="checkboxMeasurementsList" class="checkboxMeasurementsList"></div>
<div id="chart" class="dataAnalysisChart"></div>

<script>
  $(document).ready(function () {
    createMeasurementsCheckbox();
    initChart(convertData());
  })
</script>
